<?xml version="1.0" encoding="gb2312"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">

<suite name="Suite">
    <listeners>
        <listener class-name="com.rest.report.ExtentReporterNG" />
    </listeners>

    <test name="Test">
        <packages>
            <package name="com.rest.assured.specs.*" />
        </packages>
<!--        <groups>-->
<!--            <run>-->
<!--                <include name="films" />-->
<!--            </run>-->
<!--        </groups>-->
    </test>
</suite>
