
<?xml version="1.0" encoding="UTF-8"?>
<suite name="doctorng">
    <!--enabled="true"让测试生效，可根据情况开启或关闭某些测试-->
    <test name="test" enabled="true">

        <!--指定测试包，注意加 .* -->
        <packages>
            <package name="API.TestAssured.*"/>
        </packages>
        <!--指定测试类-->
        <classes>
            <class name="API.RestAssured.FilmsTest"/>
        </classes>
        <groups>
            <run>
                <!--包含-->
                <include name="films"/>
            </run>
        </groups>
    </test>
</suite>
